.fg_image{
    background-image: url('https://envato-shoebox-0.imgix.net/377f/6385-5a5b-45ec-bea5-f790d64da739/DSC_8600+copy.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=ca9328c64bb89e96aa10f9af74f1c3f1');
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
  }

